/* Custom Styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #abbcc9;
}

.footer-link {
    color: inherit;
}

.footer-link:hover {
    text-decoration: none;
    color: #fff;
}

