/* Base Styles */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    /* max-width: 1200px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* Parent Flex Container - Movie Grid */
.movie-grid {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;

}

/* #movies { 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} */

#query {
    text-align: center;
    margin-bottom: 20px;
}

.movie {
    /* flex: 0 0 33%; */
    /* flex-basis: auto; */
}

img { 
    width: auto;
}

select, button, input { 
    width: 100px;
}